
<div id="edit_asset_label_lb" style="display: none">
  <%= image_tag 'close.jpeg', :class=> 'close_lb standard_close_lb edit_image_label_lb', :id => '', :title => 'close' %>
  <%= render :partial => 'shared_partials/edit_photo_label_form' %>
</div>