<% title 'Add new spot'  %>
<div class="dashboard_content_top">
  <div class="fl dashboard_content_top_left">
    <h2>Add new spot</h2>
  </div>
</div>
<div class="item_form_wrapper">
  <%= render 'form' %>
</div>
