<% title @spot.name %>



<div class="pageHead">
  <%= @spot.name %>
</div>



<div class="item_details">

  <div class="itemDetail"><%= raw textilize @spot.description %></div>

</div>

<script type="text/javascript">

    $(document).ready(function() {

    });


</script>