<h1 class="admin_header">Ad video detail</h1>
<div class="admin_new_link"><%= link_to 'Back', ad_videos_path %></div>
<div class="msg_desc_info_big">
  <p id="notice"><%= notice %></p>

  <p>
    <b>Ad:</b>
    <%= @ad_video.ad_id %>
  </p>

  <p>
    <b>Code:</b>
    <%= @ad_video.code %>
  </p>

  
</div>