<% title "Edit Transport::#{@transport.name}" %>
<div class="dashboard_content_top">
  <div class="fl dashboard_content_top_left">
    <h2>Edit Transport</h2>
  </div>
</div>

<div class="item_form">
  <%= render 'form' %>
</div>
