<% title @article.title %>



<div class="pageHead">
  <%= @article.title %>
</div>

<div class="item_details">

  <div class="itemDetail"><%= raw textilize @article.detail %></div>

  <%= render :partial => 'shared_partials/detail_page_comment', :locals => {:item => @article, :rating => true} %>

</div>


<script type="text/javascript ">

    $(document).ready(function() {

    });


</script>