<%= content_for :over_mid_content do %>
    <div class="redhead_row">
      <h2>Forgot Password</h2>

    </div>
<% end %>

Fill out the form below and instructions to reset your password will be emailed to you: <br/>

<% form_tag password_reset_index_path do %>
    <label><%= t('general.label.email')%>:</label><br/>
    <%= text_field_tag "email" %><br />
    <br/>
    <%= submit_tag "Reset my password" %>
<% end %>