.bangla_content {
    font-family: Solaimanlipi;
    font-size: 14px;
}

.menuRow ul li a {
    font-family: Solaimanlipi;
    font-size: 15px;
    padding-top: 4px;
    padding-left: 27px;
    padding-right: 27px;
    line-height: 25px;
}

.home_left_header_content {
    font-family: Solaimanlipi;
    font-size: 15px;
    padding-top: 3px;
    line-height: 26px;
}

.gallery_controll_images {
    margin-top: 5px !important;
    line-height:16px;
    font-family: Solaimanlipi;
    font-size: 13px;
}

.gallery_controll_images img {
    margin-bottom: 3px;
}

.package_desc .price_n_button a, .listItemDesc .price_n_button a  {
    padding-top: 3px !important;
    line-height:17px;
}

.package_desc .price, .listItemDesc .price  {
    line-height: 22px !important;
}

.good_item_head {
    font-size: 15px;
}

.listItemDesc .description {
    line-height:20px;
}

.loginRightText2  {
    margin-top:75px;
}

.newAccountActions .search_button {
    margin-left: 104px;
}

.top_bar_box{
  padding-top:10px;
    padding-bottom:3px;
}
.top_bar_box a ,.top_bar_box{
    font-family:Solaimanlipi;
    font-size:13px;
}