.bangla_content {
    font-family: Solaimanlipi;
    font-size: 14px;
}

.menuRow ul li a {
    font-family: Solaimanlipi;
    font-size: 15px;
    padding-top: 4px;
    padding-left: 27px;
    padding-right: 27px;
    line-height: 25px;
}

.home_left_header_content {
    font-family: Solaimanlipi;
    font-size: 15px;
    padding-top: 3px;
    line-height: 26px;
}

.gallery_controll_images {
    margin-top: 1px !important;
}

.gallery_controll_images img {
    margin-bottom: 3px;
}

.package_desc .price_n_button a, .listItemDesc .price_n_button a  {
    padding-top: 1px !important;
}

.package_desc .price, .listItemDesc .price  {
    line-height: 22px !important;
}

.good_item_head {
    font-size: 15px;
}

.listItemDesc .description {
    line-height:20px;
}

.loginRightText2  {
    margin-top:75px;
}