select {
    padding-right: 5px !important
}

input {
    padding: 0px 2px;
}

.acc_Row input {
    padding-left: 2px
}

#login_on_homepage h1 a {
    color: #000033;
    text-decoration: none;
}

.evenRow {
    background: #aaaaaa;
    color: #ffffff;
    padding: 5px;
    float: left
}

.oddRow {
    background: #eeeeee;
    color: #000000;
    padding: 5px;
    float: left
}

.evenRow th, .evenRow td, .oddRow th, .oddRow td {
    padding: 5px 10px
}

.dir_row {
    margin-left: 20px;
    width: 610px;
}

.spot_box .dir_sign_row input.photo {
    width: 275px;
    margin: 5px 0;
    float: left;

}

.spot_box .dir_sign_row input.txt {
    width: 435px;
    padding: 0px 5px;
}

.spot_box .dir_sign_row {
    width: 980px;
}

.spot_box .dir_sign_row label {
    width: 110px;
    padding-left: 50px;
}

.article .f_inner_bor, .spot .f_inner_bor {
    margin-right: 8px;
}

.article strong, .spot strong {
    font-size: 14px;
}

.deleteExistingImage, span.removeImageField, span.addMoreImage {
    cursor: pointer;
    font-size: 14px;
    font-weight: bold
}

span.removeImageField {
    margin-top: 8px;
    float: left;
}

.spot_photo {
    width: 430px;
    float: left;
}

.spot_photo div.photo {
    width: 430px;
    float: left;
}

/*.existing_image {float: left; width: 96px; padding: 5px; border: 1px}*/

a.addMoreImage {
    font-size: 14px;
    font-weight: bold;
    color: #9F1010
}

.spot_box input.subBtn {
    margin-left: 120px;
}

.article h3 a, .spot h3 a {
    color: #8b9939;
}

.article h3, .spot h3 {
    text-align: left;
    font-size: 16px;
    font-weight: bold;
}

.article, .spot {
    color: #666666;
}

.article .f_inner_bor, .spot .f_inner_bor {
    overflow: hidden
}

.articleDesc {
    color: #000033
}

.articleDesc img {
    width: 250px
}

.f_edit_mid select {
    float: left;
    margin: 5px 7px;
    width: 204px;
}

.f_edit_mid a.cross {
    float: left;
    width: 15px;
    cursor: pointer;
    margin-top: 9px;

}

.f_edit_mid .association_value {
    margin-top: 3px;
    margin-right: 7px;
    margin-left: 7px;

}

.admin_panel.msg_box {
    width: 690px;
}

.admin_panel .msg_desc {
    width: 670px;
}

.admin_panel .msg_top {
    background: #2C324C;
    float: left;
    width: 690px;
}

.admin_panel .msg_desc_info_big .f_bor {
    color: #000033;
    padding: 10px;
    width: 630px;
    margin: 0;
    margin-bottom: 10px;

}

.admin_panel .msg_desc_info_big {
    width: 650px;
    height: auto;
    padding: 10px;
    color: #000033;

}

.admin_panel .msg_bot {
    background: url("/images/navy_blue_admin_bot.jpg") no-repeat scroll 0 0 transparent;
    float: left;
    width: 690px;
}

.admin_panel a.admin_bot_links {
    font-size: 14px;
    color: #ffffff;
    font-weight: bold;
    padding: 5px 10px;
    float: left;

}

.fl {
    float: left
}

.pad_lr_5 {
    padding: 0px 5px
}

.admin_panel .w_200 {
    width: 200px;
}

.admin_panel .w_450 {
    width: 450px
}

.admin_panel .w_300 {
    width: 300px
}

.admin_panel .w_130 {
    width: 130px
}

.admin_panel .admin_links {
    width: 140px
}

.admin_panel h1.admin_header {
    width: 440px;
    float: left;
    font-size: 16px;
    font-weight: bold
}

.admin_panel .admin_new_link {
    width: 230px;
    float: left;
    text-align: right;
    font-size: 14px;
    font-weight: bold
}

.admin_new_link a {
    color: #ffffff;
}

.admin_pagination {
    width: 650px;
    padding: 10px;
    float: left;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

.admin_panel div.field {
    margin: 10px 0px;
}

.admin_panel div.axtions {
    margin: 15px 0px;
}

.error {
    background: lightsalmon !important;
}

.ash_desc_row label {
    float: left;
    width: 100px
}

.ar_desc h2 a {
    color: #547442;
}

.ar_desc p a {
    color: #000000;
}

#flash_messages {
    float: left;
    padding: 10px;
    width: 980px;
    font-size: 16px;
    background-color: #e1e5eb;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
}

.flash_message {
    padding: 10px;
}

.samRow {
    margin-bottom: 5px;
}

.samRow img {
    width: 143px;
    height: 100px
}

.e_bor img {
    width: 96px;
    height: 66px;
}

div.pagination {
    padding: 5px 0px;
    float: left;
    width: 750px;
}

.pagination span, .pagination em, .pagination a {
    margin: 5px;
    float: left;
    color: #cccccc;
    font-weight: bold;
}

.pagination em, .pagination a {
    padding-top: 5px;
}

.pagination a.next_page, .pagination a.previous_page {
    padding-top: 1px
}

.pagination em {
    color: #72AF3A
}

.pagination_body {
    float: left;
    margin-left: 250px;
}

.anti input {
    width: 20px;
}

.msg_desc_info {
    overflow: visible;
    height: auto
}

.msg_desc_info a {
    clear: both;
    line-height: 24px;
}

.log_input_row input {
    width: 226px;
}

.f_inner_right {
    width: 550px;
    padding: 5px;
    float: left;
}

.f_inner_right_row {
    width: 540px;
    padding: 5px;
    float: left;
}

.message_detail {
    margin-left: 45px;
}

.detail_top_link {
    float: right;
    margin: 10px;
    margin-right: 50px;
    font-size: 14px;
}

.f_inner_right_row label {
    float: left;
    width: 100px;
}

.dir_sign_row  .more_photos_form {
    float: left;
    width: 450px;
}

.more_photos_form .photo {
    float: left;
    width: 450px;
}

.my_links {
    float: right;
}

.my_links a {
    float: right;
    margin: 5px;;
    font-weight: bold
}

a.ad_pro {
    margin-left: 0
}

.summary {
    padding: 5px;
}

#stf_summary {
    text-align: center;
}

.admin_pagination a {
    color: #ffffff
}

div.photo {
    float: left;
}

.loading_image {
    display: none
}

.photo {
    float: left;
    width: 100%;
}

.f_edit_row input.photo {
    width: 270px;
    margin: 5px 0
}

div#package_images {
    width: 325px;
}

#package_videos .video {
    float: left;
    width: 240px;
    padding: 5px 0;
}

#package_videos .cross {
    margin: 5px;
    float: left;
}

.tube_input_area, .tube_input_digree {
    width: 240px;
}

.tube_input_digree input {
    margin-left: 108px;
}

.f_edit_row_big textarea {
    height: 85px;

}

.f_edit_row .radio_area {
    float: left;
    width: 120px;
}

.event {
    float: left;
}

.package_events textarea.eventDetail {
    width: 420px !important;
    height: 80px !important;
}

.package_events .package_event_time {
    width: 220px;
    float: left;
}

.package_events .package_event_detail {
    width: 435px;
    float: left;
}

.package_events .deleteLink {
    width: 50px;
    float: left;
    cursor: pointer;
}

.spot_in_package {
    float: left;
    width: 197px;
    margin:5px 0;
}

.spot_in_package input {
    margin-right: 3px;
}

.spot_in_package label {
    margin: 0;
    padding: 0;
    width: auto;
    font-weight: normal;
}

.eventTitle {
    color: #79B144;
    font-weight: bold;
    font-size: 16px;
}

div.submit_btn {
    margin-top: 10px;
    float: left;
}

div.item_form .submit_btn {
    margin-left: 250px;
    float: left;
}

/*******User uploaded Images********/
div#tiny_redcloth_image_container {
    float: left;
    width: 593px;
    height: 300px;
    overflow-y: scroll;
}

div.uploadedImage {
    float: left;
    width: 84px;
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 2px solid #CCCCCC;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    cursor: pointer;
}

div.uploadedImage img {
    border: 1px solid #CCCCCC;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}

/*******END User uploaded Images********/

.itemDetail img {
    margin: 10px;
    margin-left: 0;
}

.itemDetail ul li {
    margin-left: 15px;
    list-style: disc;
}

.itemDetail ol li {
    margin-left: 15px;
}