* {
    margin: 0;
    padding: 0;
}

.clear {
    clear: both
}

body {
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-size: 12px;
    background: #eef3fa;
    color: #000;
}

a {
    text-decoration: none;
    color: #475c69;
    outline: none
}

a:hover {
    text-decoration: underline
}

a img {
    border: none
}

ul li {
    list-style: none
}

.wrapper {
    width: 1000px;
    margin: 0 auto;
}

.wrap_body {
    float: left;
    width: 1000px;
}

.top_bar {
    float: left;
    width: 900px;
    margin-left: 50px;
    background-color: #8AB935;
    height: 50px;
    position: absolute;
    z-index: 10;

}

.top_bar_box {
    width: 286px;
    height: 27px;
    background-color: #74a609;
    margin-left: 10px;
    float: left;
    font-size: 12px;
    font-weight: bold;
    color: #ffffff;
    padding-top: 13px;
    text-align: center;
}

.top_bar_box a {
    color: #ffffff;
}

.login_and_other {
    background-color: #8AB935;
    padding: 4px 21px;
    cursor: pointer;
    position: absolute;
    z-index: 11;
    width: 118px;
    top: 40px;
    left: 740px;

}

.login_and_other img {
    margin: 0px 4px;
}

#login_up_arrow {
    display: none
}

.heading {
    float: left;
    width: 1000px;
    background: url(/images/banner.jpg) no-repeat;
    height: 193px;
    border-top: 10px solid #8AB935;
}

.logo {

    float: left;
    height: 115px;
    margin: 20px 0 0 20px;
    width: 220px;
}

.logo a {
    float: left;
    width: 220px;
    height: 115px
}

.menuRow {
    float: left;
    width: 1000px;
    height: 32px;
    background: url(/images/menu_repeat.jpg) repeat-x
}

.menuRow ul {
    float: left;
    width: 1000px;
}

.menuRow ul li {
    float: left;
    height: 32px;
}

.menuRow ul li a {
    float: left;
    padding: 8px 30px 0 30px;
    height: 28px;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
    color: #FFFFFF;
    display: block
}

.menuRow ul li a:hover, .menuRow ul li a.select {
    float: left;
    background: url(/images/menu_repeat.jpg) repeat-x;
    background-position: 0 -64px;
    display: block
}

.menuRow ul li.meddle_li {
    width: 2px;
    height: 32px;
    float: left;
    background: url(/images/menu_repeat.jpg) repeat-x;
    background-position: 0 -32px;

}

.midContent {
    float: left;
    width: 980px;
    padding: 0px 10px;
    padding-top: 10px;
    margin-top: 2px;

    background: #ffffff url(/images/bg_1pix.jpg) repeat-x;
}

.midContentMain {
    float: left;
    padding-left: 15px;
    width: 738px;
    margin-top: 10px;
}

h3 {
    font-size: 15px;
    color: #000000;
}

h1 {
    font-size: 30px;
    color: #000033;
    font-weight: normal
}

h2 {
    color: #0083AB;

}

.ar_desc {
    float: left;
    width: 180px;
    margin-top: 5px;
    padding-bottom: 5px
}

.ar_desc h2 {
    font-size: 13px;
    color: #547442
}

.footer {
    float: left;
    width: 1000px;
}

.shade_footer {
    float: left;
    width: 1000px;
    height: 81px;
    background: #ffffff;
}

.shade_footer .bottom_image_1 {
    margin-left: 80px;
}

.shade_footer .bottom_image_2 {
    margin-left: 285px;
}

.mid_footer {
    float: left;
    background: #c9e4ed;
    width: 1000px;
    top: 0px
}

.footer_desc {
    float: left;
    margin: 10px 0 40px 75px;
    width: 850px;

}

.q_link, .q_link ul, .s_link, .s_link ul {
    float: left;
    width: 185px
}

.q_link ul, .s_link ul {
    float: left;
    margin-top: 10px;
    display: inline
}

.q_link ul li, .s_link ul li {
    float: left;
    width: 185px
}

.q_link ul li a, .s_link ul li a {
    float: left;
    color: #50504e;
    line-height: 25px
}

.q_link h3, .s_link h3, .k_link h3 {
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase
}

.q_link h3 label, .s_link h3, .k_link h3 {
    color: #50504e
}

.q_link h3 span {
    color: #e75f13
}

.s_link h3 span {
    color: #ffb109
}

.k_link h3 span {
    color: #8fb600
}

.k_link {
    float: left;
    width: 295px
}

.t_link, .t_link ul {
    float: left;
    width: 250px
}

.media_con {
    float: left;
    width: 295px;
    margin-top: 25px;
    display: inline
}

.media_con a {
    float: left;
    margin-right: 8px
}

a.in {
    float: left;
    width: 50px;
    height: 48px;
    background: url(../images/com_media.jpg) no-repeat 0 0
}

a.fb {
    float: left;
    width: 50px;
    height: 48px;
    background: url(../images/com_media.jpg) no-repeat -58px 0
}

a.tw {
    float: left;
    width: 50px;
    height: 48px;
    background: url(../images/com_media.jpg) no-repeat -115px 0
}

a.flr {
    float: left;
    width: 50px;
    height: 48px;
    background: url(../images/com_media.jpg) no-repeat -171px 0
}

a.ms {
    float: left;
    width: 50px;
    height: 48px;
    background: url(../images/com_media.jpg) no-repeat -227px 0
}

input#friends_email {
    padding: 3px 0;
    margin-top: 10px;
    width: 220px;
}

/**/

.redhead_row {
    float: left;
    width: 990px;
    height: 46px;
    background: #d8dce1 url(/images/sub_title_bg.jpg) repeat-x;
    padding: 10px 0 0 10px
}

.item_form_row {
    float: left;
    width: 730px;
    margin: 10px 0;
    display: inline
}

.item_form_row .label {
    float: left;
    width: 110px;
    font-size: 14px;
    font-weight: bold;
    color: #000033;
    margin-bottom: 2px;
}

.item_form_row span {
    color: #9f1010
}

.acc_menu {
    float: left;
    width: 400px
}

.acc_menu li {
    float: right;
    padding-left: 20px
}

.acc_menu li a {
    float: left;
    color: #4B494A;
    background: #B7D0D7;
    float: right;
    margin-left: 2px;
    padding: 2px 8px;
}

.acc_menu li a:hover {
    text-decoration: none
}

.f_chose_btn {
    float: left;
    width: 270px;
    margin-left: 30px;
    margin-top: 6px
}

.subLink {
    float: right;
    width: 960px;
    margin: 0 10px 0 0;
    display: inline
}

.subLink ul {
    float: right;
    width: 960px;
    margin: 20px 0px 0 0;
    display: inline
}

.subLink ul li {
    float: right;
    padding-left: 30px
}

.subLink ul li a {
    float: right;
    text-decoration: underline;
    color: #000033;
    font-size: 14px;
    font-weight: bold
}

.subLink ul li a:hover {
    text-decoration: none;
}

.good_item_head {
    float: left;
    width: 692px;
    background: url(/images/sub_title_bg.jpg) repeat-x;
    height: 23px;
    font-size: 13px;
    color: #717173;
    padding: 6px 0 0 10px;
    font-weight: bold
}

.good_slide_bor {
    float: left;
    width: 700px;
    height: 420px;

}

.slide_img {
    float: left;
    height: 51px;
    margin-right: 16px;
    margin-top: 5px
}

.item_details {
    float: left;
    width: 702px;
    line-height: 18px;
    margin-bottom: 0px;
    margin-top: 10px
}

.white_Desc {
    float: left;
    width: 380px;
    margin-bottom: 10px;
    display: inline
}

.white_Desc label {
    float: left;
    width: 88px;
    color: #000033
}

.white_Desc input {
    float: left;
    width: 180px;
    border: 1px solid #000
}

.white_Desc textarea {
    float: left;
    width: 280px;
    height: 100px;
    border: 1px solid #000
}

.anti {
    float: left;
    width: 260px;
    margin-left: 10px;
}

.anti label {
    float: left;
    width: 233px;
    color: #000033
}

.anti input {
    float: left;
    width: 25px;
    border: 1px solid #000
}

.mytools {
    float: left;
    width: 180px;
}

.mytools ul, .mytools ul li {
    float: left;
    width: 180px
}

.mytools ul {
    margin-top: 10px;
    margin-bottom: 30px;
}

.mytools ul li a {
    float: left;
    color: #000033;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    line-height: 25px
}

.mytools ul li a.active {
    color: #0000ee;
}

.mytools ul li a:hover {
    text-decoration: underline;
    color: #0000ee;
}

.f_edit_row input[type=text], .item_form_row input[type=text] {
    float: left;
    width: 203px;
    height: 24px;
    padding: 3px 5px;
    font: 16px SolaimanLipi;
    border: 1px solid #ccc;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}

a.adMore {
    text-decoration: underline;
    font-weight: bold;
    color: #000033;
    float: right;
    margin-right: 10px;
    margin-top: 10px;
    display: inline
}

.edit_img_row {
    float: left;
    width: 100%;
    display: inline
}

.edit_box_img {
    float: left;
    width: 96px;
    margin-right: 10px;
    margin-bottom: 8px;

    color: #000033
}

.e_bor {
    border: 1px solid #999999;
    width: 96px;
    height: 66px
}

a.del_photo {
    float: left;
    width: 79px;
    background: url(/images/del_icon.jpg) no-repeat;
    height: 10px;
    color: #000033;
    padding-left: 15px;
    margin-top: 6px;
    margin-bottom: 8px
}

.edit_box_img span {
    float: left
}

.photo_box {
    float: left;
    width: 595px;
    padding: 10px;
    border: 2px solid #CCCCCC;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
}

.inactive {
    background: url(/images/inactive.gif);
}

.midContent {
    padding-left: 0px;
    width: 990px;
}

.home_left {
    width: 200px;
    margin-top: 10px;
}

.home_left_border {
    width: 37px;
    height: 1125px;
    overflow: auto;
    background: url("/images/separetor.png") no-repeat;
    background-position: -6px 0;
}

.home_middle {
    width: 530px;
    margin: 0px 10px;
}

.home_right {
    width: 190px;
}

.home_left_header {
    width: 200px;
    height: 32px;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
}

.home_left_header_content {
    padding-left: 10px;
    padding-top: 7px;
}

.home_left_content {
    padding: 10px;
    width: 180px;
}

.home_left .search_header {
    background: url("/images/heading_repeat.jpg") repeat-x;
}

.home_left .featured_hotel_header {
    background: url("/images/heading_repeat.jpg") repeat-x 0 -32px;
}

.home_left .latest_article_header {
    background: url("/images/heading_repeat.jpg") repeat-x 0 -64px;
}

.home_left .featured_transport_header {
    background: url("/images/heading_repeat.jpg") repeat-x 0 -96px;
}

.pageHead {
    width: 100%;
    color: #0083AB;
    font-size: 26px;
    font-weight: normal;
    margin-bottom: 10px;
}

.pageHeadOptions {
    float: right;
    color: #323232;
    font-size: 12px;
    margin-top: 15px;
    margin-right: 37px;

}

/*Listing page*/

.listItem {
    background: url("/images/listing_item_bg.png") no-repeat;
    width: 707px;
    height: 182px;
    padding: 10px;
    margin-bottom: 10px;
}

.listItemLogo {
    width: 215px;
    height: 152px;
    padding: 4px;
}

.listItemLogo img {
    width: 215px;
    height: 152px;
}

.listItemDesc {
    width: 455px;
    margin-left: 8px;
    padding: 2px 0;
    color: #7F7F7F;
}

.listItemDesc .title {
    width: 100%;
    height: 44px;
}

.no_location .title {
    width: 100%;
    height: 24px;
}

.listItemDesc .title h4 {
    margin-bottom: 7px;
    color: #A7A7A7;
    font-weight: normal;
}

.listItemDesc .title a {
    color: #7CB145;
    font-size: 15px;
    font-weight: bold
}

.listItemDesc .title img {
    margin-left: 2px;
}

.listItemDesc .description {
    width: 455px;
    padding-top: 5px;
    height: 79px;
    padding-bottom: 10px;
    line-height: 18px;

}

.no_location .description {
    height: 99px;
}

.listItemDesc .rating {
    width: 163px;
    border: 1px solid #CCC;
    padding: 2px 5px;
    margin-left: 8px;
    float: right;
}

.package_desc_info {
    height: 87px;
}

.listItemDesc .price_n_button {
    width: 100%;

}

.listItemDesc .price {
    width: 200px;
    font-size: 13px;
}

.listItemDesc .price span {
    color: #FF7D01;
    font-size: 20px
}

.listItemDesc .price_n_button a {
    float: right;
    background: url("/images/button_bg.jpg") repeat-x;
    margin-left: 2px;
    padding: 3px 14px;
}

.item_form_row textarea {
    width: 604px;
    height: 260px;
    font: 16px SolaimanLipi;
    border: 1px solid #CCCCCC;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 5px;
}

.home_left #search_option {
    width: 175px;
}

.search_button {
    background: url("/images/submit_btn.png");
    text-align: center;
    height: 28px;
    margin-top: 10px;
    margin-left: 35px;
    border: none;
    color: #FFFFFF;
    padding: 0px 10px 3px 15px;
    font-size: 14px;
    float: left;
    cursor: pointer;
}

.ad_btn .search_button {
    margin-left: 55px;
}

.search_button_right {
    background: url("/images/submit_btn.png") -4px 28px;
    width: 4px;
    height: 28px;
    float: left;
    margin-top: 10px;

}

.home_left label {
    color: #31312F;
    font-weight: bold;
    margin-bottom: 3px;
    float: left;
    width: 100%;
}

.home_left input, .home_left select {
    margin-bottom: 3px;
    float: left
}

.home_left .searchDate {
    width: 75px;
    border: 1px solid #ccc;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 3px 5px;
}

.home_left select.searchFieldWide {
    width: 175px;

}

.home_left input.searchFieldWide {
    width: 163px;
    border: 1px solid #ccc;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 3px 5px;
}

div.ui-datepicker-div {
    z-index: 1000
}

select {
    padding-top: 3px;
    padding-left: 2px;
    padding-right: 3px;
}

select option {
    padding: 0px 4px;

}

input {
    padding: 0px 2px;
}

.evenRow {
    background: #aaaaaa;
    color: #ffffff;
    padding: 5px;
    float: left
}

.oddRow {
    background: #eeeeee;
    color: #000000;
    padding: 5px;
    float: left
}

.deleteExistingImage, span.removeImageField, span.addMoreImage {
    cursor: pointer;
}

span.removeImageField {
    margin-top: 8px;
    margin-left: 8px;
    float: left;

}

.spot_photo {
    width: 430px;
    float: left;
}

.spot_photo div.photo {
    width: 430px;
    float: left;
}

/*.existing_image {float: left; width: 96px; padding: 5px; border: 1px}*/

a.addMoreImage {

}

.spot_box input.subBtn {
    margin-left: 120px;
}

.article h3 a, .spot h3 a {
    color: #8b9939;
}

.article h3, .spot h3 {
    text-align: left;
    font-size: 16px;
    font-weight: bold;
}

.article, .spot {
    color: #666666;
}

.article .f_inner_bor, .spot .f_inner_bor {
    overflow: hidden
}

.fl {
    float: left
}

.pad_lr_5 {
    padding: 0px 5px
}

.error {
    background: lightsalmon !important;
}

.ash_desc_row label {
    float: left;
    width: 100px
}

.ar_desc h2 a {
    color: #547442;
}

.ar_desc p a {
    color: #000000;
}

#flash_messages {
    float: left;
    padding: 10px;
    width: 980px;
    font-size: 16px;
    background-color: #e1e5eb;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
}

.flash_message {
    padding: 10px;
}

.e_bor img {
    width: 96px;
    height: 66px;
}

div.pagination {
    padding: 5px 0px;
    float: left;
    width: 750px;
}

.pagination span, .pagination em, .pagination a {
    margin: 5px;
    float: left;
    color: #cccccc;
    font-weight: bold;
}

.pagination em, .pagination a {
    padding-top: 5px;
}

.pagination a.next_page, .pagination a.previous_page {
    padding-top: 1px
}

.pagination em {
    color: #72AF3A;
    font-style: normal;
}

.pagination_body {
    float: left;
    margin-left: 250px;
}

.anti input {
    width: 20px;
}

.msg_desc_info {
    overflow: visible;
    height: auto
}

.msg_desc_info a {
    clear: both;
    line-height: 24px;
}

.log_input_row input {
    width: 226px;
}

#stf_summary {
    text-align: center;
}

div.photo {
    float: left;
}

.loading_image {
    display: none
}

.photo {
    float: left;
    width: 100%;
}

.f_edit_row input.photo {
    width: 270px;
    margin: 5px 0
}

div#package_images {
    width: 325px;
}

#package_videos .video {
    float: left;
    width: 240px;
    padding: 5px 0;
}

#package_videos .cross {
    margin: 5px;
    float: left;
}

.f_edit_row .radio_area {
    float: left;
    width: 120px;
}

.event {
    float: left;
}

.package_events textarea.eventDetail {
    width: 420px !important;
    height: 80px !important;
}

.package_events .package_event_time {
    width: 220px;
    float: left;
}

.package_events .package_event_detail {
    width: 435px;
    float: left;
}

.package_events .deleteLink, .removeLink {
    width: 50px;
    float: left;
    cursor: pointer;
}

.item_form_row input[type=checkbox] {
    float: left;
    margin: 3px;
}

.spot_in_package {
    float: left;
    width: 197px;
    margin: 5px 0;
}

.spot_in_package input {
    margin-right: 3px;
    margin-top: 2px;
    float: left;
}

.spot_in_package label {
    margin: 0;
    padding: 0;
    width: auto;
    font-weight: normal;
}

.eventTitle {
    color: #79B144;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 8px;
}

div.submit_btn {
    margin-top: 10px;
    float: left;
}

div.item_form .submit_btn {
    margin-left: 250px;
    float: left;
}

/*******User uploaded Images********/
div#tiny_redcloth_image_container {
    float: left;
    width: 593px;
    height: 300px;
    overflow-y: scroll;
}

div.uploadedImage {
    float: left;
    width: 84px;
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 2px solid #CCCCCC;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    cursor: pointer;
}

div.uploadedImage img {
    border: 1px solid #CCCCCC;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}

textarea.tiny_redcloth {
    margin-top: 25px;
}

/*******END User uploaded Images********/

.itemDetail img {
    margin: 10px;
    margin-left: 0;
}

.itemDetail ul li {
    margin-left: 15px;
    list-style: disc;
}

.itemDetail ol li {
    margin-left: 15px;
}

.package_contact_address {
    float: left;
    width: 425px;
}

.package_contact_address textarea {
    background: none;
    border: 1px solid #ccc;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    float: left;
    height: 60px;
    padding-top: 5px;
    width: 400px;
}

.event {
    margin-bottom: 15px;
}

div.photo {
    float: left;
    padding: 5px 0;
    margin: 5px 0;
}

div.photo textarea {
    width: 253px;
    height: 40px;
    float: left
}

.ash_desc_row .value {
    width: 158px;
    float: left;
}

#message_status {
    float: left;
    padding: 0px 5px;
    margin: 0px 5px 5px 0px;
    text-align: center;
    font-size: 14px;
}

#message_status span.success {
    color: green
}

#TB_window {
    -moz-border-radius: 10px;
}

p.message textarea {
    width: 390px;
    height: 60px;
}

#close_send_to_friend_lb, #close_send_message_to_owner_lb, .standard_close_lb {
    float: left;
    position: absolute;
    left: 399px;
    top: 2px;
    cursor: pointer;
}

.itemDetail {
    padding: 10px;
    float: left;
}

.packageEvent {
    float: left;
    margin-bottom: 10px;
}

.packageEvent .packageEventTime {
    float: left;
    width: 200px;
}

.packageEventData .packageEventTime {
    margin-left: 10px;
}

.packageEvent .packageEventDetail {
    float: left;
    width: 440px;
    margin-left: 10px;
}

.eventDetail {
    margin-top: 1px;
    margin-bottom: 15px;
    width: 100%;
    float: left;
}

.condition ul li {
    margin-left: 15px;
    padding: 5px 0;
    list-style: circle;
}

.comment {
    padding: 5px 10px 0 10px;
    border: 2px solid #CCCCCC;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    width: 676px;
    margin-bottom: 10px;
    float: left;

}

.itemDetail ul.ajaxful-rating li {
    margin-left: 0;
}

a.edit_asset_label {
    background: url("/images/b_edit.png") no-repeat scroll 0 0 transparent;
    color: #000033;
    float: left;
    height: 16px;
    margin: 3px 0;
    padding-left: 15px;
    width: 76px;
    padding-left: 16px;
}

#map {
    width: 500px;
    height: 300px;
}

.eventDetail ul.cross_ul_li {
    width: 690px;
    float: left
}

.eventDetail ul.cross_ul_li li {
    width: 200px;
    float: left;
    list-style: circle;
    margin-bottom: 5px;
    margin-top: 5px;
}

ul.box-slide {
    text-align: center;
}

ul.box-slide  img {
    outline: none;
}

#ui-datepicker-div {
    z-index: 10999 !important;
}

a.fb_button, a.fb_button_rtl, .fb_button, .fb_button_rtl {
    text-decoration: none;
}

.fb_button {
    background: url("http://b.static.ak.fbcdn.net/rsrc.php/zL/r/FGFbc80dUKj.png") no-repeat scroll 0 -188px #29447E;
    cursor: pointer;
    display: inline-block;
    outline: medium none;
    padding: 0 0 0 1px;
    text-decoration: none;
}

.fb_button_text {
    background: url("http://b.static.ak.fbcdn.net/rsrc.php/zL/r/FGFbc80dUKj.png") repeat scroll 0 0 #5F78AB;
    border-bottom: 1px solid #1A356E;
    border-top: 1px solid #879AC0;
    color: #FFFFFF;
    display: block;
    font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
    font-weight: bold;
    margin: 1px 1px 0 21px;
    padding: 0px 6px 3px;
    text-shadow: none;
}

.pad_TL0 {
    padding-top: 0;
    padding-left: 0
}

.form_summary {
    font-size: 16px;
    font-weight: bold;
    color: #9f1010
}

.comment_row {
    width: 700px;
}

.comment_row textarea {
    width: 570px;
}

.right_margin_zero {
    margin-right: 0 !important;
}

/**********Login*********/
.loginBox {
    padding: 15px;
    border: 1px none;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    width: 700px;
    margin-bottom: 10px;
    float: left;
    background: #F4F3F1;
}

.loginFields {
    padding: 15px 20px;
    border: 1px solid #F4F3F1;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    width: 296px;
    margin-bottom: 10px;
    float: left;
    background: #FFFFFF;
    margin-right: 20px;
    height: 197px;
}

.log_input_row {
    float: left;
    margin-top: 10px;
}

.log_input_row label {
    color: #B2B2B2
}

.log_input_row input {
    float: left;
    width: 270px;
    height: 24px;
    padding: 3px 5px;
    border: 1px solid #ccc;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-top: 5px;
}

.loginActions {
    float: left;
    margin-top: 20px;
}

.loginActions .search_button {
    margin-left: 115px;
}

.twitter_facebook {
    padding: 20px;
    border: 1px solid #F4F3F1;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    width: 657px;
    float: left;
    background: #FFFFFF;
}

.twitter_facebook .box {
    width: 295px;
    padding: 10px;
    text-align: center;
    border: 1px solid #E8E7E3;
    float: left;
    margin-right: 20px;
    background: #FCFCFA;
    height: 25px;

}

.twitter_facebook .twitter {
    padding-bottom: 5px;
    padding-top: 15px;
}

.loginRight {
    float: left;
    padding: 20px;
    width: 299px;
    height: 187px;
    background: url("/images/login_rightside.png");
    line-height: 18px;
    color: #545452;
}

.loginRight a {
    color: #545452;
    text-decoration: underline;
    font-weight: bold;
}

.loginRightText2 {
    margin-top: 45px;
    margin-bottom: 4px;
}

.newAccountActions  .search_button {
    margin-left: 67px;
}

.loginRight .loginLink  .search_button {
    margin-left: 127px;
}

.loginRight  a.search_button {
    color: #ffffff;
    text-decoration: none;
    font-weight: normal;
    padding-top: 4px;
    height: 21px;
}

.createAccount {
    height: auto;
}

.createAccount .search_button {
    margin-left: 75px;
}

/**********END Login*********/
