<% title t('general.label.change_password') %>

<div class="mtop15 clear">
  <h1>
    <%= t('general.label.welcome_foo', :foo => current_user.name)%>
  </h1>
  <h2>
     <%= t('general.label.change_password')  %>
  </h2>
</div>


      <%= render 'form' %>

<style type="text/css">
    .msg_desc_info .field {
        float: left;
        margin-bottom: 5px;
        padding-left: 170px;
    }

    input.creBtn {
        background: url("/images/sub_btn.jpg") no-repeat scroll 0 0 transparent;
        cursor: pointer;
        display: inline;
        float: left;
        height: 37px;
        margin-left: 200px;
        margin-top: 20px;
        width: 152px;
        border: none;
    }

    .msg_desc_info .field input {
        background: url("/images/dir_input.jpg") no-repeat scroll 0 0 transparent;
        border: medium none;
        float: left;
        height: 24px;
        padding-left: 5px;
        padding-top: 5px;
        width: 203px;
    }

</style>