<% title t('general.label.create_account') %>
<div class="pageHead">
  <% unless session[:omniauth] %>
      <%= t('general.label.create_account') %>
  <% else %>
      <%= t('provide_the_followings') %>
  <% end %>

</div>

<div class="item_form">
  <%= render 'form' %>
</div>
