<% title 'Create New Account' %>
<div class="pageHead">
  <% unless session[:omniauth] %>
      Create New Account
  <% else %>
      Provide the followings [requires only once]
  <% end %>

</div>

<div class="item_form">
  <%= render 'form' %>
</div>
