<h1 class="admin_header">Division detail</h1>
<div class="admin_new_link"><%= link_to 'Back', divisions_path %></div>
<div class="msg_desc_info_big">
  <p id="notice"><%= notice %></p>


  <p>
    <b><%= t('general.label.name')%>:</b>
    <%= @division.name %>
  </p>
</div>

