<h1 class="admin_header">District detail</h1>
<div class="admin_new_link"><%= link_to 'Back', districts_path %></div>
<div class="msg_desc_info_big">
  <p id="notice"><%= notice %></p>


  <p>
    <b>Name:</b>
    <%= @district.name %>
  </p>
</div>

