<%= content_for :over_mid_content do %>
  <div class="redhead_row">
    <h2>Edit Classified</h2>
  </div>
<% end %>
<div class="spot_box">
  <!--curv start -->
  <div class="bl">
    <div class="br">
      <div class="tl">

        <div class="tr">
          <div class="dir_row">
            <%= render 'form' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
