<% title 'Contact us' %>
<%= content_for :over_mid_content do %>
    <div class="redhead_row">
      <h2>Contact Us</h2>
    </div>
<% end %>


<div class="spot_box" id="feedback_form">
  <!--curv start -->
  <div class="bl">
    <div class="br">
      <div class="tl">
        <div class="tr">
          <%= render 'form' %>

        </div>
      </div>
    </div>
  </div>
  <!--curv end -->
</div>