<% title 'Add Hotel' %>
<div class="dashboard_content_top">
  <div class="fl dashboard_content_top_left">
    <h2>
      New Hotel
    </h2>
  </div>
</div>
<div class="item_form">

  <%= render 'form' %>

</div>
