<div class="acc_menu">
  <ul>
    <li>
      <%= link_to 'Manage My Packages', my_packages_path%>
    </li>
    <li>
      <%= link_to 'My Saved Listings',  my_saved_listings_path%>
    </li>
  </ul>
</div>